{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}AI Chatbot{% endblock title %}</title>
    {% comment %} <link rel="stylesheet" href="{% static 'chatbot/auth.css' %}"> {% endcomment %}
    {% block extra_css %}{% endblock %}
</head>
<body>
    <nav>
        {% if user.is_authenticated %}
          <h2 class="welcome-msg">Welcome, {{ user.username }}!</h2>
        
        
        {% endif %}
    </nav>
    <hr>
    {% block content %}{% endblock %}
    
    
</body>
</html>